#map {
    display: block;
}

.container {
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto;
    position: fixed;
    bottom: 10px;
    left: 10px;
}


.phone {
    border-radius: 10px;
    background-color: green;
    color: white;
    display: none;
    position: fixed;
    font-size: 1em;
    margin: 0 0 0 0;
    padding: 1em 1em 1em 1em;
    width: 200px;
    left: 1em;
    top: 1em;
    opacity: 70%;
}